/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-header {
  width: 100%;
  display: flex;
  // working on this now header
}

.site {
  display: flex;
  justify-content: center;
}
.site-content {
  width: $width__max;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 2rem;
}

.content-area {
  grid-column: 1/2;
  padding: 2rem;
}

.widget-area {
  grid-column: 2/3;
  padding: 2rem;
}

.site-main {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

.post {
  text-align: justify;
}
