/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site header {
  // position: fixed;
  // top: 0;
  display: flex;
  width: 100%;
  border-bottom: $border__solid;
  justify-content: center;
}
.site-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $width__max;
  justify-self: center;
  // height: 200px;
  margin: 0 0 auto;
}
.site-branding-logo {
  margin-top: 10px;
  background-image: url(../../assets/logos/inhabitent-logo-tent.svg);
  width: 65px;
  height: 37px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  z-index: 3;
}

.main-navigation {
  width: 600px;
  height: 55px;
  button {
    &:focus {
    }
  }
}
.site {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-content {
  width: $width__max;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.content-area {
  grid-column: 1/3;
  padding: 2rem;
}
.shop-search-bar {
  padding-bottom: 50px;
  border-bottom: $border__dashed;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .shop-categories {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
}

.widget-area {
  grid-column: 3/4;
  border-left: $border__solid;

  padding-left: 2rem;
}
.page-about {
  .inner-logo {
    width: 200px;
    height: 100px;
    margin-top: -50px;
    margin-left: -100px;
    h1 {
      text-align: justify;
    }
  }
}
.home,
.archive {
  .inner-logo {
    height: 300px;
    width: 300px;
    margin-top: -150px;
    margin-left: -150px;
    background-image: url(../../assets/logos/inhabitent-logo-full.svg);
    background-size: contain;
  }
  .loop-containers {
    width: $width__max;
    display: flex;
    // position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .single-container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;

    border: $border__solid;
    img {
      width: 272px;
      object-fit: cover;
    }
    .button {
      margin: 10px;
      &:hover {
        background-color: $color__green-brand;
        color: $color__background-body;
      }
    }
  }
  .journal {
    width: ($width__max - 32px)/3;
    img {
      width: ($width__max - 32px)/3;
      height: ($width__max - 32px)/3;
    }
  }
  .shop {
    width: ($width__max - 32px)/4;
    height: ($width__max - 32px)/4;
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin: 0 0 auto;
    }
    .green-button {
      &:hover {
        filter: brightness(80%);
      }
    }
  }
  .product-shop {
    img {
      height: 200px;
    }
  }
}
.home,
.page-about {
  .inner-logo {
    display: flex;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 100vw * 0.7/2;
  }
  .site-banner {
    a {
      display: flex;
      .site-branding-logo {
        background-image: url(../../assets/logos/inhabitent-logo-tent-white.svg);
        z-index: 5;
      }
    }
  }
  .shop {
    align-items: center;
  }

  .content-area {
    grid-column: 1/4;
  }
  .widget-area {
    display: none;
  }
  .main-navigation {
    z-index: 3;
    a {
      color: white;
    }
  }
  .banner-image {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vw * 0.7;
    object-fit: contain;
    top: 0;
    left: 0;
    filter: brightness(50%);
  }
  .site-header {
    // width: 100vw;
    height: 100vw * 0.7;
  }
}

.site-main {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
}

.post {
  text-align: justify;
}
.tax-product_taxonomy {
  .content-area {
    grid-column: 1/4;
  }
  .widget-area {
    display: none;
  }
}

.home,
.single {
  img {
    // width: ($width__max/3 * 2)-20px;
    object-fit: cover;
    // height: 450px;
  }
  .entry-header {
    display: flex;
    position: relative;
  }
  .type-post {
    a {
      color: $color__text-main;
      font-size: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      line-height: normal;
      text-align: right;
    }
    button {
      background-color: white;
    }
  }
  .entry-title {
    display: flex;
    position: absolute;
    top: 20px;
    left: 0;
    width: 600px;
    color: $color__background-body;

    background-color: $color__green-brand;
    a {
      color: $color__background-body;
      font-size: 2.5rem;
      text-decoration: none;
      text-transform: uppercase;
      line-height: normal;
      text-align: left;
    }
    // .span {
    //   a {
    //     color: $color__background-body;
    //   }
    // }
  }

  .single {
    .nav-links {
      display: none;
    }
  }
  .entry-meta {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 400px;
    background-color: $color__green-brand;
    color: $color__background-body;
    span {
      font-size: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      line-height: normal;
      text-align: right;
    }
  }
}

.green-button {
  background-color: $color__green-brand;
  color: $color__background-body;
}
.search-field {
  transition: 2s;
  display: inline-block;
}
.display {
  transition: 2s;
  display: none;
}

.search-button {
  width: 65px;
  height: 37px;
  transition: 2s;
}

.single-product_type {
  display: flex;
  .content-area {
    display: flex;
    .site-main {
      .entry-header {
        display: flex;
        justify-content: left;
        width: $width__max;

        img {
          width: $width__max/2;
          object-fit: contain;
        }

        .entry-title {
          display: flex;
          top: 0;
          left: 0;
          padding-left: 20px;
          margin-top: 0;
          color: $color__orange-brand;
          background-color: $color__background-body;
          position: relative;
          height: 20px;
        }
        .entry-meta {
          display: none;
        }
        .entry-content {
          width: $width__max/2;
          padding-left: 20px;
          margin-top: 0;
        }
      }
    }
  }

  .widget-area {
    display: none;
  }
}
.single-post {
  .post-navigation {
    display: none;
  }
}
